html, body {
    height: 100vh;
    width: 100vw;
    
    padding: 0;
    margin: 0;
}

#root {
    height: 100vh;
    width: 100vw;
}

#root canvas {
    position: absolute;
    
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}