#main {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.theme-dark {
  background-color: #222639;
  width: 100vw;
  height: 100vh;
  
  color: rgba(255, 255, 255, 0.8);
}

.theme-light {
  background-color: #f0f2f7;
  width: 100vw;
  height: 100vh;
  
  color: rgba(0, 0, 0, 0.8);
}